blockquote {
  font-style: italic
}

section {
        float: left;
        padding: 10px;
        color: #404040;
        font-family: sans-serif;
        font-size: 14px;
		    margin: auto;
       
    }
    
pic {
	width: 25%;
    float: left;
	height: 100%;
}